@model BDJArticle15.Models.ArticleFile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ArticleFile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.file)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.file)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.article.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.article.title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
